*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Exo;
}
/* @font-face {
    font-family: "CustomFont";
    src: url("font/justice_fest-webfont.woff") format("woff");
    } */

#mainContainer{
        margin-top: 100px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80vh;
    /* flex-direction: column; */

}
.area {
    max-height: 0;
}
.cc {
    width: auto;
    height: auto;
    margin: auto;
    padding: 10px;

}
/* .cc {
    position: relative;
    margin-bottom:40px ;
} */

.cc h1 {
    margin-top: 15px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    top: 0;
    font-weight: normal;
    font-size: 70px ;
    font-family: CustomFont;
}


.profileCard{
       position: relative;
       width: 220px;
       height: 220px;
       background: rgba(255,255,255,0.05);
       padding: 30px;
       justify-content: center;
       border-radius: 50%;
       box-shadow: 0 15px 35px rgba(0,0,0,0.2);
       transition: .9s;
       margin: 25px;
       backdrop-filter: blur(10px);
       z-index: 30;
}

.profileCard:hover {
    border-radius: 10px;
    height: 280px;
}
.profileCard .img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    transition: .9s;
    z-index: 90;
    opacity: 0.9;
}
.profileCard:hover .img {
    opacity: 1;
    transform: translateY(-60px);
    border-radius: 10px;
}

.img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .9s;
}

.caption {
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .9s;
}

.profileCard:hover .caption {
    opacity: 1;
}
.caption h3{
    font-size: 21px;

}

.caption .sci {
    position: absolute;
    display: flex;
    margin-left: 11%;
    z-index: 100px;
}

.caption .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(25px);
    transition: .9s;
    opacity: 0;
}
.profileCard:hover .caption .sci li {
    opacity: 1;
}
.caption .sci li a{
    color: black;
    font-size: 22px;
}

.area{ 
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.7;
        border-radius: 5%;
        background: linear-gradient(rgb(45 , 196, 255),rgb(0, 166, 125));
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
        background: linear-gradient(rgb(45, 196, 255),rgb(51, 255, 153));
    }

}