.contactusContainer
{
    width: 100%;
    height: 100vh;
    background-color: #d0f4f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    box-sizing: border-box;
    font-size: 'poppins',sans-serif;
}


.contactForm
{
    background: #fff;
    display: flex;
    flex-direction:column;
    padding: 2vw 4vw;
    width:50%;
    max-width: 800px;
    border-radius: 10px;
}
.contactForm h3
{
    text-align: center;
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}
.contactForm input, form textarea
{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline:none;
    background-color: #f5f5f5;
    font-size: 16px;
}
.contactForm button
{
    padding-top: 15px;
    padding-bottom: 5px;
    background: #ff5361;
    color:  #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 60px;
}