body{
    background:#dcdcdc;
    margin-top: 20px;
}

.btnSuccess {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: rgba(103, 192, 103, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(103, 192, 103, 0.75);
  border-radius: 10px;
  background: transparent;
  padding: 4px;
  transition: all 0.3s ease 0s;
}

.btnSuccess:hover {
  color: #FFF;
  background: rgb(103, 192, 103, 0.75);
  border: 2px solid rgb(103, 192, 103, 0.75);
}

.doctorlistContainer{
  margin-top: 100px;
}

.doctorTable{
  color: #3c4142;
  font-weight: 400;
}


.doctorTableImg img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.doctorTableName {
  min-width: 200px;
}

.doctorTableName a {
  font-weight: 400;
  font-size: 0.875rem;
  color: #3c4142;
  line-height: 1.5;
}

.doctorTableName a:hover {
  color: #68CBD7;
  text-decoration: none;
}

.doctorTableName .edu {
  font-size: 12px;
  font-weight: 400;
}

.doctorTableLocation {
  min-width: 100px;
  font-weight: 400;
}

.doctorTableLocation p {
  line-height: 1.5;
  color: #3c4142;
  font-size: 0.8125rem;
}

.doctorTableLocation .location {
  color: #3c4142;
}

.doctorTableFee {
  min-width: 70px;
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
}

.doctorTableJobCategory {
  padding: .5rem;
  display: inline-flex;
  white-space: nowrap;
  border-radius: 15px;
}


.doctorTableJobCategory span {
  font-size: 0.8125rem;
  color: #3c4142;
  font-weight: 600;
}
.doctorTableJobRating{
    font-size: 0.8125rem;
}
.doctorTableJobRating svg {
  width: 20px;
  height: 20px;
  color: #fd8b2c;
}

.bgSoftGreen {
  background-color: #e1f5f7;
}
.bgSoftYellow {
    background-color: #fff4e1;
}

.bgSoftRed {
    background-color: #fedce0;
}

.searchForm {
  width: 100%;
  margin: 0 auto;
}

.searchForm input {
  height: 100%;
  display: block;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.searchForm select {
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.searchForm select:focus {
  border: 0;
}

.searchBody {
  margin-bottom: 1.5rem;
}

.resultHeader {
  margin-bottom: 2rem;
}

.resultHeader .records {
  color: #3c4142;
}

.resultHeader .resultActions {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.resultSorting {
  display: flex;
  align-items: center;
}

.resultSorting span {
  flex-shrink: 0;
  font-size: 0.8125rem;
}

.resultSorting select {
  color: #68CBD7;
}

.resultSorting select option {
  color: #3c4142;
}

.cardMargin {
    margin-bottom: 1.875rem;
}

.hide {
  display: none;
}
















