.doctorprofile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #1a202c;
    text-align: left;
    background-color: #BFFFF0;
}

.icon-box.medium {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.icon-box {
    font-size: 30px;
    margin-bottom: 33px;
    display: inline-block;
    color: #ffffff;
    height: 65px;
    width: 65px;
    line-height: 65px;
    background-color: #59b73f;
    text-align: center;
    border-radius: 0.3rem;
}

.nav-link {
    font-size: large;
}

.social-icon-style2 li a {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #59b73f;
    height: 41px;
    line-height: 41px;
    width: 41px;
}

.rounded-3 {
    border-radius: 0.3rem !important;
}

.social-icon-style2 {
    margin-bottom: 0;
    display: inline-block;
    padding-left: 10px;
    list-style: none;
}

.social-icon-style2 li {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

a,
a:active,
a:focus {
    color: #616161;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

.text-secondary,
.text-secondary-hover:hover {
    color: #59b73f !important;
}

.display-25 {
    font-size: 1.4rem;
}

.text-primary,
.text-primary-hover:hover {
    color: #ff712a !important;
}

p {
    margin: 0 0 20px;
}

.mb-1-6,
.my-1-6 {
    margin-bottom: 1.6rem;
}

/* Uploading Pics */
#file {
    display: none;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.i {
    font-style: normal;
}

.shadow-none {
    box-shadow: none !important;
}

.nameAddress {
    color: #ff721a;
}

h3 {
    margin-left: 30px;
}

.description {
    color: #ff721a;
    font-size: large;
}

.experience {
    font-size: medium;
    height: 230px;
}

.education {
    font-size: medium;
    height: 230px;
}