.timeItem {
    display: flex;
    height: 50px;
    width: 100px;
    border-bottom: 1px solid rgb(165, 165, 165);
}

.timeColumnContainer {
    position: absolute;
    top: 200px;
    left: 600px;
}