body
{
    margin-top:20px;
    text-align: left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.main-body
{
    margin-top: 150px;
    padding: 15px;
}
.card
{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.card
{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    font-size: 2rem;
}
.card-body
{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
.child
{
    margin-left: 20px;
    display:inline-block;
}
/* #edit
{
    color: blue;
    text-align: left;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
} */
#editProfile
{
    background-color: #0f59ee;
    padding: 16px 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
    background-size: 200% auto;
    border-radius: 10px;
    word-spacing: 3px;
}
#saveProfile
{
    background-color: #0f59ee;
    padding: 16px 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
    background-size: 200% auto;
    border-radius: 10px;
    word-spacing: 3px;
}
#file
{
    display: none;
}
.gutters-sm
{
    margin-right: -8px;
    margin-left: -8px;
}
.gutters-sm>.col, .gutters-sm>[class*=col-]
{
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3
{
    margin-bottom: 1rem!important;
}

.bg-gray-300
{
    background-color: #e2e8f0;
}
.h-100
{
    height: 100%!important;
}
.i
{
    font-style: normal;
}

.shadow-none
{
    box-shadow: none!important;
}

.userProfileMain
{
    background-color:#97DBAE;
}

.photoColumn
{
    border: 5px solid #bffff0;
    background-color: #BFFFF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dataColumn
{
    background-color: #BFFFF0;
    padding-top: 8px;
}

.rowProfileColumn
{
    color:#219F94
}
#photo
{
    border-style: solid;
    border-color: #030303;
    border-radius: 50%;
    padding: 5px;
}
  
#img:hover
{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.appointmentHistory
{
    color: #219F94;
}

#avatar-uploadbtn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#uploadbtn{
    font-size: 2.5rem;
    border-radius: 10px;
}

.profile-pic-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#image-input{
    position: relative;
    left: 20%;
}